In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [93]:
data = pd.read_csv("C:/Users/sumit/Downloads/loan.csv")
data.head(4)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y

In [92]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

# fill Null vales

In [91]:
data["Credit_History"].unique()

array([1., 0.])

In [69]:
data["Gender"] = data["Gender"].fillna(data["Gender"].mode()[0])

In [70]:
data["Married"] = data["Married"].fillna(data["Married"].mode()[0])

In [76]:
data["Dependents"] = data["Dependents"].replace("3+" ,"3")

In [77]:
data["Dependents"] = pd.to_numeric(data["Dependents"], errors='coerce')

In [78]:
from sklearn.impute import SimpleImputer

In [80]:
si = SimpleImputer(strategy = "median")
data["Dependents"] = si.fit_transform(data[["Dependents"]])

In [81]:
data["Dependents"] = data["Dependents"].astype(int)

In [83]:
data["Self_Employed"] = data["Self_Employed"].fillna(data["Self_Employed"].mode()[0])

In [85]:
si1 = SimpleImputer(strategy='median')
data["LoanAmount"] = si1.fit_transform(data[["LoanAmount"]])

In [87]:
si2= SimpleImputer(strategy='median')
data["Loan_Amount_Term"] = si2.fit_transform(data[["Loan_Amount_Term"]])

In [90]:
si3= SimpleImputer(strategy='median')
data["Credit_History"] = si3.fit_transform(data[["Credit_History"]])